<h1>My Lessons</h1>

<ul>
<% if @lessons.blank? %>
  <%= "You have no lessons" %>
<% else %>
  <% @lessons.each do |lesson| %>
    <li><%= link_to(lesson.title, lesson) %></li>
  <% end %>
<% end %>
</ul>

<%= link_to "Make a lesson", new_lesson_path, class: 'button'%>