<div class=home-body>

<br></br>
<br></br>
<div class=homepage-caption> <br>Connecting Teachers</br>
 <br>With </br>
  <br>Students</br>
    </div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<div class="row">
  <div class="small-6 large-7 columns"></div>
  <div class="small-6 large-2 columns"></div>
  <div class="small-12 large-3 columns"><%= link_to "Join us", new_user_registration_path, class: "myButton"  %></div>
</div>
<br></br>
<br></br>
<br></br>
<br></br>
</div>

<div class=info-block> hi
</div>

<div class=info-block> hi2
</div>

<div class=info-block> hi 3
</div>