<div class=home-body>
  <div class=home-container-top>
    <div class=homepage-caption>
      <div class=top>Connecting Teachers</div>
      <div class=middle>With </div>
      <div class=bottom>Students</div>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <div class="row">
      <div class="small-6 large-7 columns"></div>
      <div class="small-6 large-2 columns"></div>
      <div class="small-12 large-3 columns"><%= link_to "Join us", new_user_registration_path, class: "myButton"  %></div>
    </div>
    </div>
    <!-- <div class="background-break"></div> -->

<div class=home-container-bottom>
  <div class="row">
    <div class="info-block">
      <div class=title-icon><i class="icon-music icon-4x"></i></div>
      <div class=title-header>Learn to play music </div>
      <div class=title-text>By taking a private lesson made by someone else.
      Post in a public lesson to get advice and tips.
      Private message a known teacher for asnwers on any questions
      </div>
    </div>

    <div class="info-block">
      <div class=title-icon><i class="icon-comments icon-4x"></i></div>
      <div class=title-header>Centralized learning area</div>
      <div class=title-text>Whether it is teaching band or tutoring individuals.
      Musicnavi makes it easy scheduling lessons and distributing materials.
      In addition there are more features, so that you can efficiently teach.
      </div>
    </div>

    <div class="info-block">
      <div class=title-icon><i class="icon-group icon-4x"></i></div>
      <div class=title-header>Connect with others</div>
      <div class=title-text>Look for more students or a tutor in the neigherhood.
      Or search the internet for people with similar interests.
      Stay as public or private as you want. </div>
      </div>
    </div>
  </div>
</div>