<h2>Send Message</h2>

<%= simple_form_for(@message) do |f| %>
  <%= f.association :recipient, label_method: :username %>
  <%= f.input :body %>

  <%= f.button :submit, 'Send message', class: 'button' %>
<% end %>