body {
  background-color: #5893ac;
}

.custom_nav {
  text-align:center;

  margin-top: 7px;
  margin-bottom: 7px;
}

.custom_nav .top-bar {
  width: 1000px;
  display:inline-block;
  box-shadow: 7px 5px 5px black;
}

.custom_nav .right {
  // font-family: 'ProximaNovaSemibold',sans-serif;
  font-size: 19px;
}

.body-styles {
  width: 1000px;
  display:inline-block;
  background-color: #bbd2e0;
  box-shadow: 7px 5px 5px black;
}
