$border-color: #C7C7C7;

.search-field {
  height: 40px ;
}

.chosen-choices li.search-field input[type="text"] {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #8f8f8f;
}

.lesson-title {
  font-family: 'Whitney Cond A', 'Whitney Cond B', "ronnia-condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

.lesson_button {

  width: 192px;
    margin-top: 10px;
    padding: 8px 0;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#619bed),
        to(#5990de));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

.lesson_button:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#a4b0cb),
        to(#b9c5dd));
    color: white;
}

.lessons-container {
  border: 1px solid $border-color;
  margin-top: 18px;
  background-color: #fcfcfc;
}

.lessons-container:last-child {
  margin-bottom: 18px;
}

.lesson-photo-and-button {
  float: left;
  margin-top: 22px;
  margin-left: 20px;

  img {
    background: black;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    padding: 3.5px;
    -webkit-box-shadow: 1px 2px 1px #d1d1d1;
    -moz-box-shadow: 1px 2px 1px #d1d1d1;
    box-shadow: 1px 2px 1px #d1d1d1;
  }
}

.lesson-each-title {
  color: #5990de;
  font-family: 'Calibri', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 27px;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 5px;
  display: block;
}

.lesson-location {
  color: #555;
  font-family: 'HelveticaLight',sans-serif;
  font-size: 0.58em;
  font-size: 14px;
  margin-left: 10px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 5px;
  display: block;
  margin-top: 3px;
}

.lesson-title-container {
  background: #f2f4f6;
  border-bottom: 1px solid $border-color;
  font-family: 'Calibri', sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding: 30px 20px 20px 220px
}

.lesson-each-body {
  font-size: 16px;
  font-family: 'HelveticaLight',sans-serif;
  // margin-left: 10px;
  margin-top: 15px;
  margin-left: 228px;
  width: 750px;
  text-align: left;
}

.chosen-container-single .chosen-single {
  margin-bottom: 15px;
}

.clear {
  clear:both;
  padding-bottom: 20px;
}

.lesson-label {
  color: #555;
  font-size: 17px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
  display: inline-block;
}

.lesson-text {
  display: inline-block;
  font-family: 'HelveticaLight',sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.lesson-body {
  font-family: 'HelveticaLight',sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-top: -5px;
  margin-bottom: 10px;
}